<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{ SITE_TITLE }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="stylesheet" href="/css/style.css">

  <link rel="alternate"
        type="application/rss+xml"
        title="Conference Chats News"
        href="/news.xml">

  {% for favicon in favicons() %}
      {{ favicon }}
  {% endfor %}

</head>

<body class="h-screen" id="{{ slug }}">
  <div class="container mx-auto max-w-5xl px-4">
    <header class="flex flex-wrap py-4">
      <div class="flex-1 flex justify-between items-center">
          <a href="{{ "index" | url_for }}"><img class="h-12" src="/static/images/logo.png"></a>
      </div>

      <label for="menu-toggle" class="pointer-cursor lg:hidden block">
        <svg class="fill-current text-gray-700" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
          <title>menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </label>
      <input class="hidden" type="checkbox" id="menu-toggle" />

      <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
        <nav>
          <ul class="lg:flex items-center justify-between space-x-6">
            <li><a href="{{ "index" | url_for }}">About</a></li>
            <li><a href="{{ "news" | url_for }}">News</a></li>
            <li><a href="{{ DISCORD_INVITE_URL }}">Discord</a></li>
            <li><a href="{{ "pages.code-of-conduct" | url_for }}">Code of Conduct</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="content prose">
      <h1>{{ title }}</h1>
      {% block content %}{{ content }}{% endblock %}
    </div>

    <footer>
      <small>&copy; 2022 | This site is <a href="{{ REPOSITORY_URL }}">open source</a>.</small>
    </footer>
  </div>
  {% block js %}{% endblock %}
</body>

</html>
