{% extends "base.html" %}

{% block content %}
  {{ content }}
{% endblock %}

{% block js %}
<script src='https://cdn.jsdelivr.net/npm/moment@2.29.4/min/moment.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/moment-timezone@0.5.40/builds/moment-timezone-with-data.min.js'></script>
<script src=" https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ical.js/1.5.0/ical.min.js" integrity="sha512-0izBc1upGYnrS1u1MX7QR+sjFIxZWxLVdNI7cUoHHCutDr5ENjuQRZuS+v+3NFNGfwHSrPoHzBzED0rV651tGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src=" https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@6.1.8/index.global.min.js "></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/moment-timezone@6.1.8/index.global.min.js'></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          eventSources: [
            {
              url: '/first-friday.ics',
              format: 'ics'
            },
            {
              url: '/second-wednesday.ics',
              format: 'ics'
            }
          ],
          eventDataTransform: function(data) {
            data.start = moment.tz(data.start, "America/New_York").format()
            data.end = moment.tz(data.end, "America/New_York").format()
            return data;
          }
        });
        calendar.render();
      });

  </script>
{% endblock %}
