{% extends "base.html" %}

{% block content %}
  {% for post in pages %}
    <ol class="list-none list-outside px-0">
      <li>
        <h2><a href="{{ post.url_for() }}">{{ post.title }}</a></h2>
        <p>{{ post.content.split("<!-- snippet -->")[0] }}</p>
      </li>
    </ol>
  {% endfor %}
{% endblock %}
