@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-toggle:checked + #menu {
  display: block;
}

.prose {
  @apply max-w-5xl;
}

header a {
  @apply text-lg font-medium block decoration-cyan-500 decoration-dashed hover:underline text-gray-700;
}

.content a, footer a {
  @apply text-cyan-500 decoration-dashed;
}

footer {
  margin-top: 2rem;
  @apply text-center;
}

.fc-daygrid-event {
  align-items: unset;
  white-space: unset;
}

.fc-daygrid-event-dot {
  display: none;
}
